@media (max-width: 426px) {
  .hero{
    display: grid;
    grid-template-columns: 100% !important;
  }
  .content-float{
    padding: 30px 5px !important;
    width: 80% !important;
    left: 50% !important;
  }
  .empty-div{
    display: none !important;
  }


}

    



*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
}
.register{
    background-color: #333;
    border: none;
    border-radius: 24px;
    padding: 10px 22px;
    color: white;

}
.login{
   padding: 10px 22px; 
   border: none;

}
.hero{
    min-height: 80vh;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}
.content-float{
    text-align: center;
    background-color: #FFFFFF;
    position: absolute;
    width: 35%;
    border-radius: 5px;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    padding: 2%;

}

.empty-div{
    background-color: #F6F2EBF2;
}
form > div > button{
    background-color: #333;
    border: none;
    border-radius: 24px;
    padding: 10px 22px;
    color: white;
    margin: 10px 0px 10px 0;


}
form > input{
    background-image: url(./assets/Vector.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: 10px;
    padding: 12px 20px 12px 40px;
    border-radius: 25px;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 100%;
    margin: 0.5rem 0px 10px 0;
}

h1{
    font-size:3vw;
}
p{
    font-size: 1.5vw;
    padding-top:1rem;
    padding-bottom: 1rem;
}
.image-div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}