@media (min-width:1024px)
{

    .content_div_bg{
        background-repeat: no-repeat;
        background-position: right ;
    

        
    }
    .content_div{
        box-shadow: 10px 10px 40px 20px #333333;
        width: 600px;

    }

}

@media (min-width: 375px){
    .headContainer{
        background-color: #ffffff;
        height: 64px;
        width: auto;
        display: flex;
        padding: 8px;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0;  
    }
    h1{
    font-weight: 800;
    font-size: 20px;
    }
    p{
        font-size: 14px;
    }
 
    .logo_img{
        width: 80px;
        height: 38.62;
    }
    body{
        margin: 0%;
    }
    .content_div > h1{
           
            font-weight: 600;
            text-align: center;
            font-size: 20px

    }
    .content_div > p{
        font-size: 14px;
        text-align: center;
    }

}

.Login-btn{
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background: transparent;
  

}
.Signup-btn{
    background-color: #333333;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 40px;
    color:#ffffff;
}


.header_button{
    display: flex;


}

.content_div{
    margin: 30px;
    padding: 20px;

    border-radius: 1%;
    height: 335px;
    align-items: center;
    align-content: center;
    background-color: white;
    
}
.hero{
    font-family: "Inter Tight", sans-serif;
    background-image: url('./assets/image 11.png');


}
.content_div_bg{
    background-image: url(./assets/image\ 11.png);
    height: 465px;
    align-content: center;
}
form > button{
    background-color: #333333;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 40px;
    color:#ffffff;

}
.phone{
    background-color: #ffffff;
    color:#333333;
    background-image:url(./assets/Vector.png) ;

    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 20px;
    padding-left: 40px;
    border-radius: 67px;
    border: 1px solid;
    box-shadow: none;


}
footer{
    background-color: #F6F2EBF2;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 0px;
    gap: 20px;
    text-align:center;
    
    line-height: 22px;
    font-weight: 400;
    font-family: "Inter Tight", sans-serif;
    letter-spacing: 1px;
    color: #333333;

}
footer > img{
    padding-top: 50px ;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form > button{
    align-self: center;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
li{
    list-style: none;

}

.copyright-txt{
    padding-top: 5px;
    width: 100%;
    border-top: 1px solid black;


}

h1{
    font-family: "Inter Tight", sans-serif;
    font-size: 20px;

}

p{
    font-family: "Inter Tight", sans-serif;
    font-size: 12px;
}

.CTA1,.CTA2{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    text-align: center;


}
.cta_content > button{
    background-color: #333333;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 40px;
    color:#ffffff;
    align-self: center;
    gap: 10px;

}
.cta_content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
}
.p-list-title{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}
.Type{

    position: relative;
    top: -230px;
    left: 300px;
    z-index: 2;
    border-radius: 20px;
    width: 1px;

}
.Type-bg > div  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Type >p{

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 10px;
    margin: 0;

}